.vscode/**
.vscode-test/**
**/.vscode-test.*
**/tsconfig.json
**/eslint.config.mjs
esbuild.js
esbuild.mjs

src/**
**/*.ts
**/*.map
test/**
**/*.test.*
**/*.spec.*
**/__tests__/**

.git/**
.gitignore
.github/**

node_modules/**
.yarnrc
package-lock.json
yarn.lock
pnpm-lock.yaml

.DS_Store
Thumbs.db

!dist/**          # bundle + runtime
!media/**         # ikonit ym.
!images/**        # jos käytät erillisiä kuvia
!README.md
!CHANGELOG.md
!LICENSE
