.vscode/**
.vscode-test/**
**/.vscode-test.*
**/tsconfig.json
**/eslint.config.mjs

src/**
**/*.ts
**/*.map

esbuild.js

node_modules/**
.yarnrc
package-lock.json
yarn.lock
pnpm-lock.yaml

.git/**
.gitignore
.github/**

**/*.test.*
**/*.spec.*
**/__tests__/**

.DS_Store
Thumbs.db

!dist/**

!images/**
!media/**

!README.md
!CHANGELOG.md
!LICENSE
